<img *ngIf="verimagen" [src]="imagen" width="100%" height="100%" class="inicio">


<div class="contenedor" *ngIf="!verimagen">

  <div class="cabeza">
    <h1>{{titulo}}</h1>
  </div>
  <div class="cuerpo">
    <div class="head-img">

      
      <div class="imagen">
        <img src="./../assets/img/logo_unsch_2.png" width="500px" alt="">
      </div>
      <div class="imagen">
        <img src="./../assets/img/logo.png" alt="">
      </div>
    </div>
    <button class="button type1" (click)="nuevoPracticaModel()">
      AGREGAR
    </button>
      <div class="buscador">

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>BUSCAR</mat-label>
          <input matInput [(ngModel)]="term" name="correo">
        </mat-form-field>


        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field appearance="outline">
            <mat-label>SERIE</mat-label>
            <mat-select  name="serie"  [(ngModel)]="currentCategory" (selectionChange)="filterAlumnoAllByCategory()">
              <mat-option value="all">
                TODOS
            </mat-option>
              <mat-option *ngFor="let item of series" [value]="item.value">
                {{item.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
      </div>
        
    <table>
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>GENERO</th>
          <th>SERIE</th>
          <th>CORREO</th>
          <th>CODIGO</th>
          <th>DESCRIPCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteralumnos |filter:term">
          <td (click)="nuevoPracticaModel(item)" >{{item.name}}</td>
          <td (click)="nuevoPracticaModel(item)" >{{item.gender | genero}}</td>
          <td (click)="nuevoPracticaModel(item)" >{{item.serie}}</td>
          <td (click)="nuevoPracticaModel(item)" >{{item.correo}}</td>
          <td (click)="nuevoPracticaModel(item)" >{{item.codigo}}</td>
          <td (click)="nuevoPracticaModel(item)" >{{item.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>