.contenedor {
    padding:auto;

    .cabeza{
        text-align:center;
        background-color: rgba(0, 195, 255, 0.651);
    }
    .cuerpo{
        margin: auto;
        padding: 30px;   
              
        table{
            width: 100%;
            margin-top: 20px;
            thead{
                text-align:left;
                background: darkseagreen;
            }
            tr ,th ,td  {
                background-color: 1 solid rgba(255, 255, 255, 0.5);
            }
            tbody tr:hover{
                background: rgb(131, 122, 122);
                cursor: pointer;
            }
        }
    }
}

.buscador{
    width: 100%;
    display:grid;
    grid-template-columns: 50% 20% 30%;
    mat-form-field {
        margin-left: 10px;
    }
}
img.inicio {
    z-index: 99;
}
.head-img{
    z-index: 2;
    width: 100%;
    display:grid;
    grid-template-columns: 80% 20% ;
}