mat-form-field{
    width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  