<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <!-- <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button> -->
    </mat-toolbar-row>


  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

    <form [formGroup]="validatingForm">
      <div fxFlex="1 0 auto" fxLayout="column">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>NOMBRE Y APELLIDOS</mat-label>
          <input matInput formControlName="name" name="name" required>
          <mat-error>CAMPO REQUERIDO</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>CODIGO</mat-label>
          <input matInput formControlName="codigo" name="codigo" required>
          <mat-error>CAMPO REQUERIDO</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="outline">
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <textarea matInput name="description" formControlName="description" [rows]="1"
              [matTextareaAutosize]="true"></textarea>
            <mat-label>DESCRIPCIÓN</mat-label>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>CORREO</mat-label>
          <input matInput formControlName="correo" name="correo" required>
          <mat-error>CORREO INVALIDO</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field appearance="outline">
            <mat-label>SERIE</mat-label>
            <mat-select formControlName="serie" name="serie">
              <mat-option *ngFor="let item of series" [value]="item.value">
                {{item.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        

        <div fxLayout="row" fxLayoutAlign="start start">
              <mat-label>SEXO</mat-label><br>
              <mat-radio-group aria-label="SEXO" formControlName="gender" name="gender">
                <mat-radio-button value="v">VARON</mat-radio-button>
                <mat-radio-button value="m">MUJER</mat-radio-button>
              </mat-radio-group>
          </div>
        
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
          <section>
            <div class="example-button-row">
            <button *ngIf="action === 'edit'" class="button"  mat-raised-button color="warn" type="submit" (click)="matDialogRef.close(['delete',validatingForm.value])" aria-label="Delete" matTooltip="Delete">
              ELIMINAR
            </button>
            
            <button *ngIf="action !== 'edit'" class="button"   mat-raised-button color="primary" type="submit"  (click)="matDialogRef.close(['save',validatingForm.value])"
            [disabled]="!validatingForm.valid" aria-label="SAVE">
            REGISTRAR
          </button>
          
          <button *ngIf="action === 'edit'" class="button"  mat-raised-button color="primary" type="submit" (click)="matDialogRef.close(['edit',validatingForm.value])"
          [disabled]="!validatingForm.valid" aria-label="SAVE">
          EDITAR
        </button>
        <button   mat-raised-button color="warn" type="submit"  (click)="matDialogRef.close(['exit',validatingForm.value])" aria-label="SAVE">
          SALIR
        </button>
      </div>
      </section>
        </div>
      </div>

    </form>

  </div>
</div>
