@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// boton
.button {
    position: relative;
    padding: .8em 1.3em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    margin: 1em 0.8em;
  }
  .button.type1 {
    color: #566473;
  }
  .button.new {
    background: rgb(152, 186, 248);
    color:white
  }
  .button.delete {
    background: rgb(233, 129, 103);
    color:white
  }
  .button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #566473;
    border-right-color: #566473;
  }
  .button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
  }
  .button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
  }

// boton